*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color:rgb(253, 232, 232);
    font-family: 'Oswald', sans-serif;
}

img{
max-width: 100%;
}

header {
    display:flex;

    flex-wrap: wrap;

    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
    color: rgb(253, 232, 232);
    }

.iconos{
    width: 600px;
    align-self: center;
    
    
}

.nombres{
    text-align: center;
   padding-top: 2px;
}

a {
    text-decoration: none;
    color:rgb(253, 232, 232)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.logo {
    width: 300px;
    margin-left: 0,5cm;
}


.opciones {
    display:inline-block;

    margin-right: 50px;
}

.hipervinculoheader {

    color: rgb(253, 232, 232);

    font-family: 'Merriweather', serif;

    font-size: 17px;

    text-decoration: underline;
}

.buscar{
    height: 30px;
    background-color: black;
    border-color: gray;
    color: rgb(182, 180, 180);
    border-width: 3px;
    border-radius: 3px;
}

.enviar {
    height: 22px;
    background-color: rgb(182, 180, 180);
    border-style: none;
    margin-right: 0.20cm;
    margin-left: 5px;
}


.generos{
    display: flex; 
    margin-top: 1cm;
    
}

.generos article{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.titulogeneros{
    font-size: 30px;
    text-decoration: underline;
    background-color: #C40A07;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

 .listadegeneros {
    
    border-color: #C40A07;
    list-style-type: none;

}

.listadegeneros li{
    background-image: url('../img/iconopelicula3.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 5px;
}


.bodydetallegeneros{
    background-color: black;
    color: rgb(253, 232, 232);
}


.detallescomedia{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
}

.detailmovie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    width: 100%;
}

.tdryf{
    vertical-align: top;
}

.imagenryf{
    width: 100%;
}

.fotoryf{
   text-align: right;
}

.tituloryf{
    font-size: 60px;
}

.textoryf{
    font-size: 25px;
}

.sinopsisryf{
    font-size: 15px;
}


.detallescomedia article {
    width: 50%;
}

.detallescomedia h3{
    text-align: center;
    font-style: italic;
}

.detallescomedia img {
    display: block;
    margin: auto;
    height: 85%;
    width: 65%;
    margin-bottom: 2cm;
}

.titulocomedia {
    font-size: 55px;
}


.detailserie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    width: 100%;
}

.fotopb{
    text-align: right;
}

.tdpeakyblinders{
    vertical-align: top;
}

.imagenpeaky{
    width: 600px;
    height: 700px;

}

.titulopeaky{
    font-size: 60px;
}

.textopeaky{
    font-size: 25px;
}

.sinopsispeaky{
    font-size: 15px;
}

.titulosrelacionados{
    margin-top: 1.5cm;
}

.pelisyseries{
    margin-top: 1cm;
}

.marvel {
    margin-top: 1cm;
    font-style: italic;
    font-size: 40px;
}

.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resultadosimg{
    margin-top: 0.5cm;
}

.noresultado {
    display: none;
    text-align:center
}

@media (max-width:768px){
    .generos article{
        width: 90%;
        
    }

    .generos {
        flex-direction: column;
    }

   
   .contenedorlogo{
    width: 100%;
   
} 
.logo{
    margin:auto;
    display: block;
}

.opciones{
    margin-right: 5px;
}


}



