*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color:rgb(253, 232, 232);
    font-family: 'Oswald', sans-serif;
}

img{
max-width: 100%;
}

header {
    display:flex;

    flex-wrap: wrap;

    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
    color: rgb(253, 232, 232);
    }

a {
        text-decoration: none;
        color:rgb(253, 232, 232)
    }
    
ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }


.iconos{
    width: 600px;
    align-self: center;
}

.nombres{ text-align: center; padding-top: 2px; }

.logo {
    height: 100%;
    width: 300px;
    margin-right: 1cm;
}


.opciones {
    display:inline-block;
    margin-right: 50px;
}

.hipervinculoheader {

    color: rgb(253, 232, 232);


    font-size: 17px;

    text-decoration: underline;
}

.buscar{
    height: 30px;
    background-color: black;
    border-color: gray;
    color: rgb(182, 180, 180);
    border-width: 3px;
    border-radius: 3px;
}

.enviar {
    height: 22px;
    background-color: rgb(182, 180, 180);
    border-style: none;
    margin-right: 0.20cm;
    margin-left: 5px;
}


.generos{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-evenly;
}

.generos article{
    width: 48%;
 }
   

.generos h1 {
    font-size: 30px;
    background-color: #C40A07;
    padding: 13px;
    border-radius: 20px;
    text-align: center;
}

 .listaGenerosPeliculas {
    border-color: #C40A07;
    list-style-type: none;
    padding-left: 5px;
}

.listaGenerosSeries {
    border-color: #C40A07;
    list-style-type: none;
    padding-left: 5px;
}

.listaGenerosPeliculas li{
    background-image: url('../img/iconopelicula4.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 23px;
}

.listaGenerosSeries li{
    background-image: url('../img/iconopelicula4.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 23px;
}



.detailmovie{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row; 
    width: 100%;
}

.articlemovie{
    width:50%;
}

.favoritosmovie{
    background-color: #C40A07;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 150px;
    text-align: center;
}
.fotoryf{
  width: 50%;
  text-align: right;
}

.imagenryf{
    width: 75%;
    margin-right: 20px;
}
.tituloryf{
    font-size: 60px;
    margin-left: 20px
}

.textoryf{
    font-size: 30px;
    margin-left: 20px;
}

.sinopsisryf{
    font-size: 20px;
    width: 100%;
}



.listaGenero h3{
    text-align: center;
    font-style: italic;
}

.tituloGenero {
    font-size: 25px;
}

.detailserie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    width: 100%;
}

.fotopb{
    width: 50%;
    text-align: right;
}

.articlepeakyblinders{
    width: 50%;
}

.imagenpeaky{
    width: 75%;
    margin-right: 20px;
}

.titulopeaky{
    font-size: 60px;
    margin-left: 20px;
}

.textopeaky{
    font-size: 30px;
    margin-left: 20px;
}

.sinopsispeaky{
    font-size: 20px;
    width: 100%;
}

.titulosrelacionados{
    margin-top: 1.5cm;
}

.pelisyseries{
    margin-top: 1cm;
}

.marvel {
    margin-top: 1cm;
    font-style: italic;
    font-size: 40px;
}

.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resultadosimg{
    margin-top: 0.5cm;
}

.noresultado {
    display: none;
    text-align:center
}
/* <<<<<<< HEAD */

.Populares{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.Populares li{
    display: inline;
    /* padding-left: 0%;
    padding-right: 35px; */
    text-decoration: none;
    color: white;
}
.Mas.visto{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.Mas.visto  li{
    display: inline;
    padding-left: 0%;
    padding-right: 15px;
}
.titulosHome{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px;
}


.Populares{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.Populares li{
    display: inline;
    /* padding-left: 0%;
    padding-right: 35px; */
    text-decoration: none;
    color: white;
}
.Mas.visto{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.Mas.visto  li{
    display: inline;
    padding-left: 0%;
    padding-right: 15px;
}
.Peliculas{
/* >>>>>>> parent of ec264de (Merge pull request #5 from candedichiara/Vicente2) */
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px;
}
/* <<<<<<< HEAD
.Series{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px;
}
/* >>>>>>> parent of ec264de (Merge pull request #5 from candedichiara/Vicente2) */
.Peliculas2{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px;
}

a img{
    height: 30%;
    width: 17%;
    padding: 5px;
/* <<<<<<< HEAD */
}
/* <<<<<<< HEAD
======= */


/* }
=======
}
<<<<<<< HEAD
>>>>>>> parent of ec264de (Merge pull request #5 from candedichiara/Vicente2)
=======


}
<<<<<<< HEAD
>>>>>>> parent of 12daece (Merge branch 'Vicente' into Vicente2)
=======


}
>>>>>>> parent of 12daece (Merge branch 'Vicente' into Vicente2)
=======
>>>>>>> parent of 79836fe (final push) */
.Opciones1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Opciones1 div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;


}
.Opciones1 div li a p{
    display:inline-block;
    text-align: center;

}

.Opciones1 div li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.Opciones1 div i {
    border-radius: 50%; 
    padding: 5px;
    transition: 0.5s ease-in-out;
    color: white;
}
.Opciones1 div i.favorita{
    background-color: yellow;
    color: black;
}

.favoritos-container h2{
    color: white;
}

.peliculasPopulares{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.seriesPopulares{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pelisValoradas{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;    
}

.seriesValoradas{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.elemento{
    height: 500px;
    width:18%;
    margin:10px;
}

.destacar{
    height: 350px;
    width:100%;

}

.listaGenero{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.elemento p{
    text-align: center;
}

.elemento h3{
    text-align: center;
}
.resultadoBusqueda{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.resultadoSerie{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* breakpoint para tablet */
@media (max-width: 768px){
    .Opciones1 div{
        width: 45%;
    }

    .elemento{
        width: 45%;

    }
}


@media (max-width:420px){
    .generos article{
        width: 90%;
        margin-left: 0.5cm;
    }

    .generos {
        flex-direction: column;
    }

   
   .contenedorlogo{
    width: 100%;
   
} 
.logo{
    margin:auto;
    display: block;
}

.opciones{
    margin-right: 5px;
}

.detallescomedia article {
    width: 100%;
}

.resultados a{
    width: 100%;
}

.articlemovie{
    text-align: top;
}

.fotoryf{
    width: 50%;
    margin-top: 30px;
}
.imagenryf{
    width: 100%;
}

.tituloryf{
    font-size:30px ;
}

.textoryf{
    font-size: 30px;
}

.sinopsisryf{
    width: 100%;
    font-size: 20px;
}

.fotopb{
    width: 50%;
    margin-top: 30px;
}
.imagenpeaky{
   width: 100%;
}

.titulopeaky{
    font-size: 30px;
}

.textopeaky{
    font-size: 20px;
}

.sinopsispeaky{
    font-size: 20px;
    width: 100%;
}

.elemento{
    width: 80%;
   
}



}