body{
    background-color: black;
}

.nombres {
    color:white
}

header {
    display:flex;

    flex-wrap: wrap;

    justify-content: space-between;
}

.logo {
    width: 50%;
margin-top: 0cm;
    height: 300px;
}

.opciones {
    display:inline-block;

    margin-right: 50px;

    
}

.hipervinculoheader {

    color: rgb(253, 232, 232);

    font-family: 'Merriweather', serif;

    font-size: 17px;


}

.buscar{
    height: 30px;
    background-color: black;
    border-color: gray;
    color: rgb(182, 180, 180);
    border-width: 3px;
    border-radius: 3px;
}

.enviar {
    height: 22px;
    background-color: rgb(182, 180, 180);
    border-style: none;
    margin-right: 0.20cm;
    margin-left: 5px;
}


.generos{
    display: flex; 
}

.elegir{
    background-color: black;
    color: white;
    width: 50%;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-width: 3px;
    border-radius: 3px;
}

*{
    box-sizing: border-box;
}

.body {
    background-color: black;
    color: white;
}

.bodydetallegeneros{
    background-color: black;
    color: rgb(253, 232, 232);
}

.titulocomedia {
    font-size: 30px;
    
}

.detallescomedia{
    display: flex;

}


